services:
  db:
    image: postgres:16
    container_name: weather_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web_be:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: weather_backend
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - API_KEY=${API_KEY}
    depends_on:
      - db
    ports:
      - "5500:5500"
    volumes:
      - ./backend:/app
    env_file:
      - .env

  web_fe:
    image: nginx:latest
    container_name: weather_frontend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - web_be

volumes:
  postgres_data: